<ul class="pagination pagination-sm no-margin pull-right">
{% if tableRecords.pages > 0  %}
    <li class="paginate_button {{ 'disabled' if tableRecords.prev_num is none }}">
    <a href="{{ url_for(destination, page=tableRecords.prev_num) if tableRecords.prev_num is not none else '#'}}">«</a>
    </li>
    {% for i in range(min_page, max_page) %}
    <li class="paginate_button {{ 'active' if i == tableRecords.page }}">
        <a href="{{ url_for(destination, page=i) }}">{{ i }}</a>
    </li>
    {% endfor %}
    <li class="paginate_button {{ 'disabled' if tableRecords.next_num is none }}">
    <a href="{{ url_for(destination, page=tableRecords.next_num) if tableRecords.next_num is not none else '#'}}">»</a>
    </li>
{% endif %}
</ul>